<div class="sidebar">
    <section class="sidebar-header">
        <a class="blurb-img">
            <div class="blurb-photo" style="background-image: url('/dist/images/ibrahim-fahmy.jpg');"></div>
        </a>
        <div class="sidebar-header-link">
            <a>
                <h3>My Profile</h3>
            </a>
        </div>
    </section>
    <section class="sidebar-body">
        <div class="sidebar-body-section">
            <h4 class="sidebar-body-section-header">Explore</h4>
            <ul class="sidebar-body-section-list">
                <li class="sidebar-body-section-list-item notification active">
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-home"></i>Home
                    <span>5</span>
                </li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-user"></i>People</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-users"></i>Groups</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-flag"></i>Pages</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-calendar"></i>Events</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-bookmark"></i>Saved</li>
            </ul>
        </div>
        <div class="sidebar-body-section">
            <div class="sidebar-body-section-header">
                <h4>Quick Links</h4>
                <button class="sidebar-body-section-header-aside">Edit</button>
            </div>
            <ul class="sidebar-body-section-list">
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-users"></i>HUB Team</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-flag"></i>Corporate Communication</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-th"></i>Service Desk</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-flag"></i>Special Offers</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-users"></i>WeeklySoccer</li>
            </ul>
            <div class="sidebar-body-section-see-more">
                <button>see More
					<i class="fa fa-caret-down"></i>
				</button>
            </div>
        </div>
        <div class="sidebar-body-section">
            <ul class="sidebar-body-section-list">
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-mobile"></i>Download App</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-cog"></i>Account Settings</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-question-circle"></i>Help Center</li>
                <li class="sidebar-body-section-list-item">
                    <i class="fa fa-smile-o"></i>Send Feedback</li>
            </ul>

        </div>
    </section>
    <footer class="sidebar-footer"></footer>
</div>