.sidebar {
    background: #1f323a;
    height: 100%;
    padding: 20px;
    color: white;
    overflow-y: auto;
    &-header {
        margin-bottom: 16px;
        line-height: 1.32;
        font-weight: 500;
        display: flex;
        align-items: flex-start;
        a.blurb-img {
            width: 2.125rem;
            float: left;
            font-size: 4em;
            padding: 0;
            text-align: center;
            transition: opacity 0.25s;
            display: block;
            cursor: pointer;
            margin-right: 10px;
            &:hover {
                opacity: 0.75;
                text-decoration: none;
            }
        }
        .blurb-photo {
            padding-top: 100%;
            border-radius: 50%;
            box-shadow: 0px 0px 1px 1px #ddd;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-link {
            margin: 5px 0;
            & a {
                color: white;
            }
        }
    }
    &-body {
        &-section {
            border-top: 1px solid #2e464e;
            margin-bottom: 16px;
            padding-top: 16px;
            &-header {
                width: 100%;
                line-height: 1;
                color: #a1a1a1;
                font-weight: 700;
                margin: 14px 0;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                &-aside {
                    color: #a1a1a1;
                    align-self: flex-end;
                    text-align: right;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        color: white;
                    }
                }
            }
            &-list {
                width: 100%;
                margin: 0 -20px;
                &-item {
                    padding: 10px 20px;
                    width: 100%;
                    font-size: 12px;
                    &.active {
                        background-color: transparent;
                        color: #31a9da;
                    }
                    &:hover {
                        background-color: rgba(12, 23, 27, 0.61);
                        cursor: pointer;
                    }
                    & i {
                        margin-right: 5px;
                    }
                    &.notification {
                        & span {
                            float: right;
                            color: #a1a1a1;
                            font-weight: bold;
                        }
                        i:first-of-type {
                            margin-left: -12px;
                            margin-right: 10px;
                            margin-top: 6px;
                            margin-bottom: 6px;
                            font-size: 6px;
                            color: #31a9da;
                            position: absolute;
                        }
                    }
                }
            }
            &-see-more {
                padding: 0;
                button {
                    padding: 0;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }
    &-footer {}
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: #49585f;
        border: 0px none #ffffff;
        border-radius: 0px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #ffffff;
        border-radius: 0;
    }
}